body {
    background: rgb(125,198,205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(239,80,41);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}